@model WEB_RESTAURANTE_DATOS.Entidades.Clientes
@{
    ViewBag.Title = "Form";
}
@section styles
{
      <style>


               .bootbox-centrado .modal-footer {
                   justify-content: center;
               }

               .bootbox-centrado .modal-body {
                   text-align: center;
               }

               .bootbox-msg-grande {
                    font-size: 24px;
                    font-weight:bold;
                }
    </style>

}

<div class="mdc-card">
  <form id="form_cliente" action="@Url.Action("Grabar", "Averias")" method="post" autocomplete="off">
        @Html.HiddenFor(u => u.Id)
    <div class="row g-3">

        <div class="col-md-4  mb-3">

                <label for="Longitud">Nombre</label>
                <input type="text" value="@Model.Nombre" id="Nombre33" name="Nombre22" class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

                <label for="Longitud">Apellido</label>
                <input type="text" value="@Model.Apellido" id="Apellido33" name="Apellido222" class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
                <input type="text" value="@Model.Direccion" id="Direccion" name="Direccion" class='form-control' />

        </div>

    </div>

    <div class="row g-3">


        <div class="col-md-4  mb-3">

            <label for="Longitud">Direccion</label>
                <input type="text" value="@Model.Destino" id="Destino" name="Destino" class='form-control' />

            </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
                <input type="text" value="@Model.Destino3" id="Destino3" name="Destino3" class='form-control' />


            </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
                <input type="text" value="@Model.Destino4" id="Destino4" name="Destino4" class='form-control' />


            </div>

    </div>
    <br />
    <div>
        <button id="btngrabar" type="button" class="btn btn-primary btn-lg">Grabar</button>&nbsp&nbsp&nbsp&nbsp
        <a href="@Url.Action("Index","Averias")" class="btn btn-secondary btn-lg">Regresar</a>
    </div>

    </form>
</div>


@section scripts
{

    <script>

            
          $("#btngrabar").click(function (e) {


          let formData;
          formData = $("#form_cliente").serializeArray();
        var dialog = mostrarcarga();

        console.log("datos",formData);
        var url = "@Url.Action("Grabar", "Cliente")";
        dialog.one('shown.bs.modal', function () {
          $.ajax({
            url: url,
            type: "POST",
            data: formData,

            success: function (datos) {

                     dialog.modal('hide');
                     if (datos.success) {
                            bootbox.alert({
                              message: "<span class='bootbox-msg-grande'>Grabado con Exito</span>",
                              closeButton: false,
                              className: "bootbox-centrado",
                              buttons: { ok: { label: "Aceptar" } },
                              callback: function () {
                                  let url = '@Url.Action("Index", "Cliente")';
                                    window.location.href = url;
                             }  
                              
                           });
                        }
                    else {
                        bootbox.alert({
                            message: datos.error,
                            buttons: { ok: { label: "Aceptar" } }
                        });

                    }



           }
        });


        })

          })

    </script>
}
